.loginInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 500px;
    border: 10px solid lightgrey;
    border-radius: 10px;
}

/* welcome heading */
.welcomeHeading {
    margin: 0;
    padding: 20px;
    
}

.loginInfo p{
    font-size: 20px;
}

/* username container */

.loginInfo input {
    width: 95%;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 15px;
}

/* password container */
.passwordContainer{
    display: flex;
    flex-direction: row;
    width: 110%;
}
.passwordContainer button{
    margin: 0 10px;
}

.passwordContainer button{
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    border-radius: 20px;
}

.loginBtn {
    width: 100%;
    border: none;
    margin: 25px 0;
    padding: 15px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 25px;
    background-color: rgb(106, 146, 255);
}


.social {
    display: flex;
    flex-direction: column;
}

.continueWithSocials {
    width: 100%;
    border: none;
    margin: 5px 0;
    padding: 15px;
    color: black;
    font-size: 20px;
    width: 300px;
    cursor: pointer;
    border-radius: 25px;
    background-color: rgba(227, 227, 227, 0.712);
}