.login_info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* welcome heading */
.welcome_heading {
    padding: 20px;
}

.login_info h1{
    margin: 0;
}

.login_info p{
    font-size: 20px;
}

.login_info input {
    border-radius: 10px;
    border: 1px solid grey;
    padding: 15px;
}

/* password container */
.passwordContainer{
    display: flex;
    width: 100%;
}

.passwordContainer button {
    cursor: pointer;
}

.passwordContainer button{
    border: none;
    color: white;
    font-size: 30px;
    border-radius: 20px;
}

.login_btn {
    width: 100%;
    border: none;
    margin: 25px 0;
    padding: 15px;
    color: white;
    font-size: 20px;
    border-radius: 25px;
    background-color: rgb(106, 146, 255);
}